<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>703708768308-mffl201g4rco4un05lkrqndoabsd68kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.703708768308-mffl201g4rco4un05lkrqndoabsd68kk</string>
	<key>API_KEY</key>
	<string>AIzaSyB8eQesQf19EoDr0WJ8r12u8PomPCnqNs4</string>
	<key>GCM_SENDER_ID</key>
	<string>703708768308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chattapp-d7a0b</string>
	<key>STORAGE_BUCKET</key>
	<string>chattapp-d7a0b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:703708768308:ios:c0a57e830607b66e740261</string>
</dict>
</plist>